<div class='modal' id='shareByMailModal' tabindex='-1' role='dialog' aria-labelledby='shareByMailLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='shareByMailLabel'>Share Password Safe <p><b><span></span></b></p> </h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>

            <div class='modal-body'>
                <div class='alert alert-danger' role='alert' id='shareByMailAlert'></div>

                <label class='control-label' for='recipientMail' id='recipientMailLabel'>Recipient mail</label>
                <input type='text' class='form-control' name='recipientMail' id='recipientMail' required>

                <label class='control-label' for='recipientSafeName' id='recipientSafeNameLabel' style='margin: 10px 0 5px 0'>Safe name as recipient sees it</label>
                <input type='text' class='form-control' name='recipientSafeName' id='recipientSafeName' required>
                <div style="margin:15px 10px 0 5px">
                    <label class='control-label' style="margin-right:10px">Role</label>   
                    <span class = "role_selector dropdown-toggle add-user">readonly</span>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-primary' id='shareByMailBtn'>Submit</button>
            </div>
        </div>
    </div>
</div>
