{% extends "layout.html" %}

{% block content %}
<div class="card col-12 col-lg-10 col-8 phub-dialog">
  <div class="card-header">
      <h1>How do I..
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"
         onclick='window.location.href="index.php";'>
<!--         <span aria-hidden="true">&times;</span> -->
         <svg width='18' height='18' style='stroke:black;'>
           <use xlink:href='img/SVG2/sprite.svg#el-x'></use></svg>
        </button>
      </h1>
    </div>

    <div class="card-body help">
      <h3><span class="icon icon--collapse_down"></span>Start working with PassHub for Business</h3>
      <div class="help_div well" style="background:white">
        <p>
          In your browser, navigate to the login page of your company <i>Passhub for Business</i> instance. 
        </p>
        
        <h4 style='margin-top:20px'>Scan to sign-in</h4>
        <p>
          Login to PassHub on a desktop by scanning the QR code with <b>WWPass PassKey</b> app on your smartphone.
        </p>

        <h4 style='margin-top:20px'>Touch to sign-in</h4>
        <p>
          When opening PassHub in your smartphone browser, just tap the QR-code to sign-in on this phone. </p>
        <p> <b>NOTE</b>: You must have <b>WWPass PassKey</b> app.
        </p>

        <p>
          If you do not have an account yet, the PassHub will send you an email with a verification link. 
          Only users with whitelisted email addresses are allowed to create an account.
        </p>

      </div>

      <h3><span class="icon icon--collapse_down"></span>Get WWPass PassKey application </h3>
      <div class="help_div well" style="background:white">
        <ul>
          <li>Get "WWPass PassKey" application on AppStore or Google Play
          </li>
          <li>
            Launch the app and follow instructions to personalize your PassKey app.<br><span style="color:red">Please
              write down and remember your WWPass PIN: it cannot be reset</span>
          </li>
          <li>
            We recommend you to execute Passkey backup procedure. It is bound to your email address.
            Please follow the steps to be able to transfer the application to another device 
            if your phone is lost or stolen, or if you upgrade to a new one.
          </li>

        </ul>
        See detailed documentation at <a href="https://qrportal.wwpass.com/documentation.html">https://qrportal.wwpass.com/documentation.html</a>.
      </div>

      <h3><span class="icon icon--collapse_down"></span>Access PassHub records right on my phone</h3>
      <div class="help_div well">
        <p>
          Yes, it is possible. Instead of scanning the QR code just tap the QR code with your finger (Unique feature!)
        </p>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Create a new password safe </h3>
      <div class="help_div well">
        <p>
          A password safe is a top-level folder which contains login records, notes, files, and other folders.
        </p>
        <p>
          Click <b>New Password Safe</b> and enter any safe name you like
        </p>
        <img src="doc/images/NewSafeButtonBusiness.png" alt="New Safe button" style="margin:10px; width:250px;">
        <img src="doc/images/NewSafe.png" alt="Create Safe Dialog" style="margin:10px; width:250px;;">
      </div>

      <h3><span class="icon icon--collapse_down"></span>Create a new login entry, note, file or folder</h3>
      <div class="help_div well">
        <p>
          To add a new record, click the <b>Add</b> button.
        </p>
        <img src="doc/images/AddButton.png" alt="NewEntryButtonDesktop" style="margin:10px; max-width:90%;">
        <p>
          When you're on a mobile device, tap the password safe name to get to the list of safe items.
        </p>
        <img src="doc/images/MobileOpenSafe.png" alt="Mobile Open Vault" style="margin:10px; width:250px;">
        <img src="doc/images/AddButtonMobile.png" alt="Item List View" style="margin:10px; width:250px;">

        <h4 style='margin-top:20px'>New login entry</h4>
        <p>
          Fill the form shown below, where
        </p>
        <ul>
          <li>Title - identifies the account entry. It is the only required field in the form.
          </li>
          <li>Username/password - the credentials of the account. Use provided random password generator to get a strong
            password. Just click <b>Generate</b>.
          </li>
          <li>URL - network name or IP address of the resource. URLs which start with "http://" "https://" or "www."
            are shown as active web links
          </li>
          <li>Notes - specific notes, instructions, or other messages are safely encrypted and stored with each entry.
          </li>
        </ul>
        <img src="doc/images/NewEntryDialog.png" alt="New Entry Dialog" style="margin:10px; width:90%;">

        <h4 style='margin-top:20px'>New note</h4>
        Note is a special type of record to store arbitrary not structured texts. 
        The Note dialog consists only of Title and Notes fields. 
        <img src="doc/images/NewNoteDialog.png" alt="New Note Dialog" style="margin:10px; width:90%;">

        <h4 style='margin-top:20px'>New file</h4>
        <p>
        You can store files in PassHub too. 
        These may be sensitive documents you share with clients or partners,
        SSL certificates used widely in IT infrastructure and so on. 
        File names and content are encrypted the same way as all other data.
        </p>
        <p>
        First click <b>Browse</b> button to select a file, next use <b>Upload</b> button. 
        </p>


        <img src="doc/images/NewFileDialog.png" alt="New File Dialog" style="margin:10px; width:90%;">

      </div>

      <h3><span class="icon icon--collapse_down"></span>Copy/move entries to another safe or folder</h3>
      <div class="help_div well">
        <p>
          Open a menu of the desired Entry and select <b>Cut</b> or <b>Copy</b> command
        </p>
        <img src="doc/images/EntryMenu.png" alt="Entry Menu" style="margin:10px; max-width:90%;">
        <img src="doc/images/EntryMenuMobile.png" alt="Entry Menu Mobile" style="margin:10px; width:250px;">
        <p>
          Now open a menu of a destination safe or folder, note the <b>Paste</b> command become active. Select <b>Paste</b>
          and the entry will be copied or moved to a new location. </p>
        <p>Please note, <b>Paste</b> command is only active for 30 seconds after you clicked <b>Copy</b> or <b>Cut</b>.
        </p>
        <img src="doc/images/FolderMenuBusiness.png" alt="Folder Menu" style="margin:10px; max-width:90%;">
        <img src="doc/images/FolderMenuMobile.png" alt="Folder Menu" style="margin:10px; width:250px;">
      </div>

      <h3><span class="icon icon--collapse_down"></span>Share my password safe with others</h3>
      <div class="help_div well">
        <p>
        You can share your records by granting other users access to the selected password safe.
        </p>
        <p>
            NOTE: the recipient user should already be registered in the PassHub. 
          </p>
          <p>
          In the safe menu, choose 'Share' item and provide the recipient's email address.
          You can edit a safe name, as it will be seen by the recipient. 
          The safe name in your account will stay intact.  
        </p>
        <p>
          You can also select a <i>role</i> (read-only, editor, or administrator) for the recipient user. 
        </p>
        <ul>
          <li><b>Read-only</b> - the user can see all the safe entries, but cannot add, modify or delete entries.</li>
          <li><b>Editor</b> - in addition to viewing the information, 
            the user can add, modify or delete safe entries.</li>
          <li><b>Safe Administrator</b> - in addition to <b>editor</b> rights, the user can share the safe,
             change other user rights or revoke user access.</li>
      </ul>
  
        <div>
        <img src="doc/images/BusinessShare.png" alt="Share safe business" style="margin:10px; max-width:90%;">
        </div>
        </div>  


      <h3><span class="icon icon--collapse_down"></span>Backup and restore my records</h3>
      <div class="help_div well">

        Export your records in XML or CSV file and import them later.

        <h4>Export/Backup</h4>
        <p>
          Select <b>Export</b> link under your password safe list. In the provided dialog choose one of two file
          formats - CSV or XML. For backup/restore purposes they are equally good. However, if you want to have exported
          data in human-readable form or to put them into an Excel table, use CSV.
        </p>
        <img src="doc/images/ExportBusiness.png" alt="Export Link" style="margin:10px; width:250px;">
        <img src="doc/images/ExportDialog.png" alt="Export Dialog" style="margin:10px; width:350px;">

        <h4>Compatibility with KeePass</h4>

        There are at least three flavors of KeePass password manager:

        <ul>
          <li> KeePass 2 for Windows
          <li> Keepass2Android - obviously for Android devices
          <li> KeepassXC - cross-platform application for MAC, Linux, and Windows
        </ul>
        <p>
          Windows and Android versions support an XML format as a primary choice. CSV implementation contains errors and
          is not recommended.
          Cross-platform KeePassXC supports CSV only, but this implementation is correct.
        </p>
        SUMMARY: use CSV for KeePassXC and XML for KeePass2/Windows and KeePass2andoird

        <h4>Import/Restore</h4>
        You can only import PAssHub or KeePass-compatible files. They have CSV and XML format.
        <ol>
          <li>Select <b>Import</b> link under the password safe list</li>
          <li>Select mode: Import (puts file data into a newly created single safe) or Restore (merges file data with
            existing safes)</li>
          <li>Select the file you wish to upload</li>
        </ol>
        <img src="doc/images/ImportBusiness.png" alt="Import Link" style="margin:10px; width:250px;">
        <img src="doc/images/ImportDialog.png" alt="Import Dialog" style="margin:10px; width:350px;">
        NOTE: <b>Restore</b> mode preserves all the data you have in PassHub, it can only add new records or additional
        versions of existing records. It never deletes or modifies existing data.
      </div>

      <h3><span class="icon icon--collapse_down"></span>User management</h3>
      <div class="help_div well">
        <p>
          Selected users may be granted PassHub Administrator role. They may access the User Management page
          which shows overall site resources and user activity. 
          PassHub administrator may invite new users, delete expired accounts,
          grant or revoke PassHub Administrator rights.
        </p>
        <p>
          To delete a particular user account, find the user in the table and click a red cross icon.
        </p>
        <p>
            To toggle PassHub Administrator rights, click a green checkbox icon.
          </p>
            <img src="doc/images/IAM.png" alt="IAM" style="margin:10px; width:90%;">

        <h4 style='margin-top:20px'>email address white list</h4>
        <p>
          For a user to be able to create an account in PassHub for Business, the user email should be whitelisted.
          This white list includes all addresses in predefined mail domains (e.g., your company domain)
          and a list of individual addresses.
          Passhub Administrator may add or delete individual addresses in the white list
          thus granting or revoking access to PassHub service.      
        </p>
        <img src="doc/images/WhiteList.png" alt="Passhub for Business email white list" style="margin:10px; width:90%;">
      </div>

      <div style="padding-top:10px;">
        <a href="index.php" style="color:#005abb; text-decoration: underline; font-weight:400; font-size:16px;">Back to
          PassHub main page</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(".help_div").hide();
  $("h3").click(function () {
    var visible = $(this).next(".help_div").is(':visible');
    $(".help_div").hide();
    $("span.icon--collapse_up").removeClass("icon--collapse_up").addClass("icon--collapse_down")
    if (!visible) {
      $(this).next(".help_div").show();
      $(this).find("span").removeClass("icon--collapse_down").addClass("icon--collapse_up");
    }
  });
</script>

{% endblock %}
