<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 vaults_pane" id="vault_list" style='padding-right:0; padding-left:0'>
        <div class='vaults_scroll_control' id='safe_list_ul' style='margin: 10px 0 15px 0'></div>
    <div id="vlist_controls" style='padding-right:15px; padding-left:15px'>
        <button type="button" class = "btn btn-vault" style="width:100%" data-toggle="modal" data-target="#newSafe">New Password Safe</button>
        <div><span style="margin:20px auto; display:table">
            <?php if (!defined('SHARE_BY_MAIL') || !SHARE_BY_MAIL) { ?>
            <a href="#"  data-toggle="modal" data-target="#fromInviteSafe" style="color:white; text-decoration: underline;"> Accept&nbsp;invitation</a>
            <?php } ?>
            <a href="#"  data-toggle="modal" data-target="#restoreModal" style="color:white; text-decoration: underline; margin-left: 10px;">Import</a>
            <?php if (!defined('DISABLE_EXPORT') || !DISABLE_EXPORT) { ?>
<!--            <a href="#"  data-toggle="modal" data-target="#backupModal" style="color:white; text-decoration: underline; margin-left: 10px;">Export</a>
-->
    <a href="#"  class='export_all' style="color:white; text-decoration: underline; margin-left: 10px;">Export</a>
            <?php } ?>
        </span></div>
    </div>
</div>
<div id="csrf" data-csrf='<?php echo $csrf ?>' style='display:none'></div>
<a id="mailhref"></a>

<div class="hidden-xs hidden-sm hidden-md hidden-lg btn-group table_pane" id="table_pane_nav" role="group" 
  style="width:100%;background-color: #353f68; color:white; font-size:18px; padding:15px 0 10px 0">
    <div class='folder_back' style='float:left;  width:20%; ; padding-left:10px; cursor: pointer'>
        <svg width='30' height='30' style='stroke:white; float:left; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#ar-back'></use></svg>
    </div>
    <div style='display:inline-block; text-align:center; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:58%' id = "safe_and_folder_name">
    </div>
    <a href='#'  style='float:right; width:20%; padding-right:10px' id='item_list_folder_menu' >
        <svg width='30' height='30' style='stroke:white; float:right; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#el-dots'></use></svg>
    </a>
</div>

<div class="col-lg-9 col-md-8 col-sm-7 hidden-xs table_pane right_radius" id="table_pane_body" style="padding-right:0; padding-left:0; background: #dae6f2; min-height:200px;" >

    <div  class = "not_confirmed_safe" style="margin:20px; display:none">
        <p >You have successfully accepted the invitation.<br> Please wait until the owner of the safe confirms your access rights</p>
        <a href="index.php">Reload when ready</a>
    </div>

    <div class="table_scroll_control confirmed_safe" style="display:none">
        <table class="table table-hover table-stipe records_table" id="records_table" >
            <thead class="hidden-xs" ><tr>
                    <th class="col-md-2 col-sm-2">Title</th>
                    <th class="col-md-1 col-sm-1" style="overflow: hidden; text-overflow: ellipsis; ">Login password</th>
                    <th class="col-md-2 col-sm-2 hidden-xs">URL</th>
<!--                    <th class="col-md-3 hidden-sm hidden-xs">Notes</th> -->
                    <th class="col-md-3 hidden-sm hidden-xs">Modified</th>
                </tr>
            </thead>
            <tbody id="item_list_tbody">
            </tbody>
        </table>
    </div>

    <div class= "confirmed_safe_buttons" style='padding:15px'>
        <button class="btn btn-primary add_item_button" type="button" style="margin-left:15px">
            Add
            <svg width='24' height='24' class='add_button_icon' ><use xlink:href='img/SVG2/sprite.svg#ar-expand'></use></svg>
        </button>
    </div>
<!--
    <div><p  id='log_msg'></p>
    </div>
-->
</div>

<div class="hidden-xs hidden-sm hidden-md hidden-lg btn-group item_pane" role="group" 
  style="width:100%;background-color: #dae6f2; color:#333; font-size:18px; padding:15px 0 10px 0">
    <div class='item_back' style='float:left;  width:20%; ; padding-left:10px;  cursor: pointer'>
        <svg width='30' height='30' style='stroke:#333; float:left; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#ar-back'></use></svg>
    </div>
    <div id="item_pane_title" style='display:inline-block; text-align:center; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:58%'>
    </div>
    <a href='#'  style='float:right; width:20%; padding-right:10px' class='record_title'  id="item_pane_menu">
        <svg width='30' height='30' style='stroke:#333; float:right; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#el-dots'></use></svg>
    </a>
</div>

<div class="item_pane col-xs-12 hidden-xs hidden-sm hidden-md hidden-lg" style="background:white; padding-top:20px;">

<div class="alert alert-info alert-dismissible" role="alert"  style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_info_text">XXXX</span>
</div>

<div class="modified" style='font-style: italic; text-align: right;'>

</div>

<div class="file_item">
    <span class="item_field_label">File name</span><br>
    <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" ><span id="item_pane_file">item_pane_file</span></div>
    <span class="item_field_label">Size</span><br>
    <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" ><span id="item_pane_file_size">item_pane_file_size</span></div>
<!--
    <span class="item_field_label">Date</span><br>
    <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" ><span id="item_pane_file_date">item_pane_file_date</span></div>
-->
    <button type="button" class="btn btn-primary" id="item_pane_download_button">Download</button>
</div>

<div class="regular_item">
    <div class = "note_hidden">
        <span class="item_field_label">Username</span><br>

        <div class="input-group item_pane_username_div" style="margin:2px 0 10px; width:100%">
            <span class="input-group-btn" id="item_pane_copy_username">
            <button class="btn btn-default" type="button" id="copy_username">Copy</button>
            </span>

            <input type="text" class="form-control item_input" name="username" id="item_pane_username" readonly
            style="font-family: '<?php echo $password_font ?>'">

        </div>
        <div class="item_pane_username_dummy" style="height:16px; display:none">
        </div>


        <span class="item_field_label">Password</span><br>
        <div class="input-group item_pane_password_div" style="margin:2px 0 10px;">

            <span class="input-group-btn" id="item_pane_copy_password">
            <button class="btn btn-default" type="button" id="copy_password">Copy</button>
            </span>
            <input type="password" class="form-control item_input" name="password" id="item_pane_password" readonly
            style="font-family:  '<?php echo $password_font ?>'">
            <span class="input-group-btn">

            <button class=" icon_flat_button toggle_pw_button" style="margin-left:1px" onclick="toggle_pw()">
                <svg width='24' height='24' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#i-show'></use></svg>
            </button>
            </span>
        </div>
        <div class="item_pane_password_dummy" style="height:16px; display:none">
        </div>

        <span class="item_field_label">URL</span><br>
        <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" id="item_pane_url">item_pane_url</div>
    </div>
    <span class="item_field_label">Notes</span><br>
    <div style="white-space: pre-wrap; overflow: auto; margin:2px 0 10px; padding:12px; font-size:16px;" id="item_pane_notes">item_pane_notes</div>

    </div>
</div>


<?php if(defined('TEST')) { ?>
    <div id='extension_data' style= 'display:none'>
            {"url":"https://www.netflix.com/login","login":"alice","password":"123456"}
    </div>
    <script>
        function extension_event() {
            alert('Hello Extension');
        }
        document.querySelector('#extension_data').addEventListener("extention_message", extension_event);
        function getFormData(url) {
            return document.querySelector('#extension_data').innetHTML;
        }         
    </script>
<?php } ?>


