{% extends "layout.html" %}

{% block content %}
<div class="d-md-block col-xl-3 col-lg-4 col-md-5 col-sm-12 vaults_pane" id="vault_list" style='padding-right:0; padding-left:0'>
        <div class='vaults_scroll_control' id='safe_list_ul'></div>
    <div id="vlist_controls" style='padding:15px;'>
        <button type="button" class = "btn btn-vault" style="width:100%" data-toggle="modal" data-target="#newSafe">New Password Safe</button>
        <div><span style="margin:20px auto 0 auto; display:table">
            {% if MAIL_DOMAIN %}
            {% else %}
                <a href="#" class='vaults_pane_control' data-toggle="modal" data-target="#fromInviteSafe"> Accept&nbsp;invitation</a>
            {% endif %}
            <a href="#"  class='vaults_pane_control' data-toggle="modal" data-target="#restoreModal" style="margin-left: 10px;">Import</a>
            <a href="#"  class='vaults_pane_control export_all' style="margin-left: 10px;">Export</a>
        </span></div>
    </div>
</div>

<div id="csrf" data-csrf='{{ verifier }}' style='display:none'></div>

<a id="mailhref"></a>


<div class="col-xl-9 col-lg-8 col-md-7 d-none d-md-block table_pane right_radius" id="table_pane_body"
 style="padding-right:0; padding-left:0; height: 100%;" >

    <div class="d-none d-md-none btn-group table_pane" id="table_pane_nav" role="group">
        <div class='folder_back' style='float:left;  width:20%; ; padding-left:10px; cursor: pointer'>
            <svg width='30' height='30' style='stroke:white; float:left; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#ar-back'></use></svg>
        </div>
        <div style='display:inline-block; text-align:center; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:58%' id = "safe_and_folder_name">
        </div>
        <a href='#'  style='float:right; width:20%; padding-right:10px' id='item_list_folder_menu' >
            <svg width='30' height='30' style='stroke:white; float:right; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#el-dots'></use></svg>
        </a>
    </div>

    <div  class = "not_confirmed_safe" style="margin:20px; display:none">
        <p >You have successfully accepted the invitation.<br> Please wait until the owner of the safe confirms your access rights</p>
        <a href="index.php">Reload when ready</a>
    </div>

    <div class="table_scroll_control confirmed_safe" style="display:none">
        <table class="table table-hover table-stipe records_table" id="records_table" >

            <thead class="d-none d-md-table-row" >
                <tr class="d-flex">
                    <th class="col-xl-6 col-lg-7 col-md-12">Title</th>
                    <th class="col-xl-3 col-lg-5 d-none d-lg-table-cell">URL</th>
                    <th class="col-xl-3 d-none d-xl-table-cell">Modified</th>
                </tr>
            </thead>

            <tbody id="item_list_tbody">
            </tbody>
        </table>
    </div>

    <div class= "confirmed_safe_buttons" style='padding:15px'>
        <button class="btn btn-primary add_item_button" type="button" style="margin-left:15px">
            Add
            <svg width='24' height='24' class='add_button_icon' ><use xlink:href='img/SVG2/sprite.svg#ar-expand'></use></svg>
        </button>
    </div>
</div>
<div  class="d-none col-12 d-md-none item_pane" style="padding:0" >
    <div class="col-12 d-md-none btn-group item_pane_nav" role="group">
        <div class='item_back' style='float:left;  width:20%; ; padding-left:10px;  cursor: pointer'>
            <svg width='30' height='30' style='stroke:#333; float:left; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#ar-back'></use></svg>
        </div>
        <div id="item_pane_title" style='display:inline-block; text-align:center; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:58%'>
        </div>
        <a href='#'  style='float:right; width:20%; padding-right:10px' class='record_title'  id="item_pane_menu">
            <svg width='30' height='30' style='stroke:#333; float:right; vertical-align:middle;'><use xlink:href='img/SVG2/sprite.svg#el-dots'></use></svg>
        </a>
    </div>

    <div class="col-12 d-md-none" style="background:white; padding-top:20px;">

    <div class="alert alert-info alert-dismissible" role="alert"  style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="alert_info_text">XXXX</span>
    </div>

    <div class="modified" style='font-style: italic; text-align: right;'>

    </div>

    <div class="file_item">
        <span class="item_field_label">File name</span><br>
        <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" ><span id="item_pane_file">item_pane_file</span></div>
        <span class="item_field_label">Size</span><br>
        <div  style="margin:2px 0 10px;padding:12px; font-size:16px;" ><span id="item_pane_file_size">item_pane_file_size</span></div>
        <button type="button" class="btn btn-primary" id="item_pane_download_button">Download</button>
    </div>

    <div class="regular_item">
        <div class = "note_hidden">
            <span class="item_field_label">Username</span><br>
            <div class="input-group" style="margin:2px 0 10px; width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="item_pane_copy_username" style="cursor:pointer;">
                      Copy
                    </span>
                </div>
                <input type="text" readonly class="form-control item_input" name="username" id="item_pane_username" 
                style="font-family: '{{ password_font }}'" >
            </div>


            <div class="item_pane_username_dummy" style="height:16px; display:none">
            </div>


            <span class="item_field_label">Password</span><br>
            <div class="input-group" style="margin:2px 0 10px;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="item_pane_copy_password" style="cursor:pointer;">
                    Copy
                  </span>
                </div>


                <input type="password" readonly  class="form-control item_input" id="item_pane_password"
                style="font-family:  '{{ password_font }}'">

                <div class="input-group-append">
                  <span class="input-group-text toggle_pw_button" 
                  style="cursor:pointer;">
                      <svg width='24' height='24' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#i-show'></use></svg>
                  </span>
                </div>
            </div>

            <div class="item_pane_password_dummy" style="height:16px; display:none">
            </div>

            <span class="item_field_label">URL</span><br>
            <div id="item_pane_url">item_pane_url</div>
        </div>
        <span class="item_field_label">Notes</span><br>
        <div style="white-space: pre-wrap; overflow: auto; margin:2px 0 10px; padding:12px; font-size:16px;" id="item_pane_notes">item_pane_notes</div>

        </div>
    </div>
</div>


{{ include('modals/impex.html') }}
{{ include('modals/show_creds.html') }}
{{ include('modals/create_vault.html') }}
{{ include('modals/folder_ops.html') }}
{{ include('modals/delete_item.html') }}
{{ include('modals/delete_safe.html') }}
{{ include('modals/rename_vault.html') }}
{{ include('modals/rename_file.html') }}
{{ include('modals/safe_users.html') }}

{% if MAIL_DOMAIN  %}
    {{ include('modals/share_by_mail.html') }}
{% else %}
    {{ include ('modals/accept_sharing.html') }}
    {{ include ('modals/share_safe.html') }}
{% endif %}

{{ include ('modals/idle_and_removal.html') }}

<script src="js/jquery.csv.min.js"></script>


<script>

function isSafariPrivateMode() {
  const isSafari = navigator.userAgent.match(/Version\/([0-9\._]+).*Safari/);

  if(!isSafari || !navigator.userAgent.match(/iPhone|iPod|iPad/i)) {
    return false;
  }
  const version = parseInt(isSafari[1], 10);
  if (version >= 11) {
      try {
        window.openDatabase(null, null, null, null);
        return false;
      } catch (_) {
        return true;
      };
  } else if (version === 10) {
    const x = localStorage.length;
    if(localStorage.length) {
      return false;
    } else {
      try {
        localStorage.test = 1;
        localStorage.removeItem('test');
        return false;
      } catch (_) {
        return true;
      }
    }
  }
  return false;
}

if(isSafariPrivateMode()) {
  window.location.href = "error_page.php?js=SafariPrivateMode";
}
</script>

{% if show is defined  %}
<script> var index_page_show_index = "{{ show }}";</script>;
{% endif %}


<script src="js/dist/index.js?v=191212"></script>


{% endblock %}
