<div class="col-md-2">
</div>
<div class="col-md-8 phub-dialog">

<h3>Add New File</h3>


<form class="form-horizontal" action="create_file.php" method="POST" id="newfile_form" enctype="multipart/form-data">
<div class="alert alert-danger" role="alert" id="alert_message" style="display:none"></div>

<input type="file" id="fileinput_id" name="file"  style="margin:30px">

<div  style="margin-left:30px"> Storage used: <?php echo $used ?></div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="vault" value="<?php echo $vault_id ?>">
        <input type="hidden" name="folder" value="<?php echo $folder ?>">
        <input type="hidden" name="verifier" value="<?php echo User::get_csrf();?>">
        <button type="button" class="btn btn-default" style="float:right; margin: 5px" id="cancel_button">Cancel</button>
        <button type="button" class="btn btn-primary" style="float:right; margin: 5px" id="save_button">Upload</button>
        <input type="hidden" id="encrypted_data" name="encrypted_data">
    </div>
</div>
</form>
</div>
</div>
</div>

<!--
<script src=js/forge.min.js></script>
-->

<script>
    var new_file ={
        maxFileSize: <?php echo $max_file_size?>,
        encrypted_aes_key_hex: "<?php echo $encrypted_key_CSE ?>",
        pem_encrypted: "<?php echo $privateKey_CSE ?>",
        ticket: "<?php echo $_SESSION['wwpass_ticket'] ?>",
        vault: "<?php echo $vault_id ?>",
        folder: "<?php echo $folder ?>",
        verifier: "<?php echo User::get_csrf() ?>",
    };
</script>

<script src="js/dist/new_file.js?v=2"></script>
