<div class="col-md-2 col-sm-2">
</div>
<div class="col-md-8 col-sm-8 phub-dialog">
    <h1 style="margin:30px 0 50px;text-align: center;"><?php echo $h1_text; ?></h1>
    <div style="font-size:large; margin:0 0 30px 30px">
        <p>We have improved PassHub security algorithms and added client-side encryption</p>
        <p><?php echo $advise?></p>
    </div>
    <?php /*echo $incompatible_browser*/ ?>
    <?php /*echo $iOS_device*/ ?>

</div>
<script>
    window.localStorage.removeItem('wwpClientKey');
</script>
