<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Password manager for teams with strong multifactor authentication. Securely store and share accounts, files, and notes. Use as SaaS or on premise.">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>PassHub</title>
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->

    <link rel="stylesheet" href="css/bootstrap.min.css">

<?php if(defined('PUBLIC_SERVICE') && (PUBLIC_SERVICE == true)) { ?>
    <link rel="stylesheet" href="css/style-int2019.css?version=191015">
    <?php } else { ?>
    <link rel="stylesheet" href="css/style-int.css?version=191015">
    <?php } ?>

    <?php if(defined('PUBLIC_SERVICE') && (PUBLIC_SERVICE == true) && isset($google_analytics)) {
      echo file_get_contents('config/google_script.js');
    } ?>
<!--
    <?php if(!isset($google_analytics)) { ?>
    <meta http-equiv="Content-Security-Policy" 

    content="default-src 
      'unsafe-inline' 
      'self' 
      https://www.youtube-nocookie.com/

      https://maxcdn.bootstrapcdn.com 
      https://cdnjs.cloudflare.com  
      wss://spfews.wwpass.com 
      https://ajax.googleapis.com 
      https://fonts.gstatic.com;
    style-src 
      'unsafe-inline'
      'self' 
      https://maxcdn.bootstrapcdn.com 
      https://fonts.googleapis.com">    
    <?php } ?>
-->

<?php if(!isset($google_analytics)) { ?>
  <meta http-equiv="Content-Security-Policy" 

  content="default-src 
    'unsafe-inline' 
    'self' 
    https://www.youtube-nocookie.com/

    wss://spfews.wwpass.com 
    https://fonts.gstatic.com;
  style-src 
    'unsafe-inline'
    'self' 
    https://fonts.googleapis.com">    
  <?php } ?>


<!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/jquery.contextMenu.min.css">
  </head>
<?php
if(isset($onload)) {
echo "  <body onload=$onload>";
} else {
echo "  <body>";
}

if(defined('PUBLIC_SERVICE') && (PUBLIC_SERVICE == true) && isset($google_analytics)) {
  echo file_get_contents('config/google_noscript.js');
} 

?>
<div id='probe' style="background: red; width:0; height: 0; position: fixed; bottom:0; left:0;"></div>

<div class="modal" id="account_modal" tabindex="-1" role="dialog" aria-labelledby="accountLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="accounttLabel">My Account</h1>
        <button type="button" class="close" data-dismiss="modal" 
        aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="account_alert"></div>
        <div id="account_data">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-none d-dm-block" style="height:18px"></div>
        <div class="col-xs-12 d-dm-none" style="height:12px"></div>
      </div>
      <div class="row vertical-align">
<?php   if(isset($narrow)) { ?>
    <div class=" col-12  col-lg-10 col-xl-8" style="padding:0; margin:0 auto;">
<?php   } else { ?>
    <div class=" col-12 col-lg-12"  style="padding:0; margin:0 auto;">
<?php   } ?>
<span style="padding-left:1em" class="d-md-none"></span>
          <a href="index.php" style="text-decoration: none;">
            <img src="img/new_ph_logo.svg" alt= "logo" height="24">
          </a>
          <?php   if(file_exists('img/logo.png')) { ?>
            <img src="img/logo.png" style="height:32px; margin-left:16px; vertical-align:middle" class="d-none d-md-inline">
          <?php } ?>
     
          <span  class="float-right header__user" style="margin-top:4px">
            <span id="timing" style="color:white;padding-right:1px;"></span>
            <span class='d-md-none' id="xs_indicator"></span>
<?php if(isset($index_page)) { ?>
            <a href="#" class="search_switch">
              <svg class='top_icon' width='24' height='24'><use xlink:href='img/SVG2/sprite.svg#i-search'></use></svg>
            </a>
<?php } ?>
<?php if( !isset($help_page)) { ?>
            <a href="help.php">
              <svg class='top_icon' width='24' height='24'><use xlink:href='img/SVG2/sprite.svg#i-help'></use></svg>
            </a>
<?php }
        if(isset($index_page) && $isSiteAdmin) { ?>
          <a href="iam.php">
            <svg class='top_icon' width='24' height='24'><use xlink:href='img/SVG2/sprite.svg#i-wrench'></use></svg>
          </a>
<?php 
      } else if(!isset($feedback_page) /*&& !isset($iam_page)*/) { ?>
        <a href="feedback.php">
            <svg class='top_icon' width='24' height='24'><use xlink:href='img/SVG2/sprite.svg#i-contact'></use></svg>
          </a>
<?php }
      if( !isset($hide_logout) || ($hide_logout == false)) { ?>
<!--          <a href="logout.php" style="margin-right:0">
            <svg class='top_icon' width='24' height='24'><use xlink:href='img/SVG2/sprite.svg#i-logout'></use></svg>
          </a>
-->
          <span">
              <img id='account_button' src='img/account.svg'></img>
          </span>



<!--
          <div class="dropdown" style="display:inline">
            <button class="btn" type="button" id="dropdownMenu2" style="padding: 0;" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img id='accountmenu' src='img/account.svg'></img>
            </button>
            
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" onclick="$('#account_modal').modal('show')">My Account</button>
              <button class="dropdown-item" onclick='window.location.href="logout.php"''>Logout</a>
            </div>
          </div>
-->


<?php } ?>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-none d-md-block" style="width:100%;height:18px"></div>
        <div class="search_div col-12 col-md-5 col-lg-4 col-xl-3" style="display:none; margin-top:12px">

          <div class="input-group">
            <input class="form-control" id="search_string" type="text">
            <div class="input-group-append input-group-text do_search"  style="cursor:pointer; border-radius:0; padding: 0 7px 0 5px">
                <svg width='24' height='24' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#i-search'></use></svg>
            </div>
            <div class="input-group-append input-group-text search_switch"  
              style="cursor:pointer; border-top-left-radius:0; border-bottom-left-radius:0; padding: 3px 7px 0 5px">
                <svg width='20' height='20' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#el-x'></use></svg>
            </div>
          </div>          
<!--
          <div class="input-group">
            <input class="form-control" id="search_string" type="text" style='height:40px; font-size:16px; border-right:none'>
            <span class="input-group-addon do_search" style="cursor:pointer padding:1px 6px;background:white;border-left:none">
              <svg width='24' height='24' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#i-search'></use></svg>
            </span>
            <span class="input-group-addon search_switch"  style="cursor:pointer">
              <svg width='24' height='24' style='stroke:black'><use xlink:href='img/SVG2/sprite.svg#el-x'></use></svg>
            </span>
          </div>
-->          
        </div>
        <div class="col-xs-12 visible-xs" style="width:100%;height:12px"></div>
      </div>
<?php if(isset($index_page)) { ?>
      <div class="row is-table-row" id="index_page_row">
<?php } else { ?>
      <div class="row">
<?php } ?>
