{% extends "layout.html" %}

{% block content %}
<style>
@media (min-width: 768px) {
  .help_div {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.help_div {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
  }

  .help_img_wide {
    max-width: 540px;
    margin:10px;
    width:90%;
  }
  .help_img_mobile {
    width:250px; 
    margin:20px 20px 20px 0; 
  }
</style>

<div class="card col-12 col-lg-10 col-8 phub-dialog">
  <div class="card-header">
      <h1>How do I..
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"
         onclick='window.location.href="index.php";'>
<!--         <span aria-hidden="true">&times;</span> -->
         <svg width='18' height='18' style='stroke:black;'>
           <use xlink:href='public/img/SVG2/sprite.svg#el-x'></use></svg>
        </button>
      </h1>
    </div>

    <div class="card-body help">
      <h3><span class="icon icon--collapse_down"></span>Start working with PassHub for Business</h3>
      <div class="help_div well">

        <p>
          In your browser, navigate to the login page of your company <i>Passhub for Business</i> instance. 
        </p>
        
        <h4 style='margin-top:20px'>Scan to sign-in</h4>
        <p>
          Login to PassHub on a desktop by scanning the QR code with <b>WWPass Key</b> app
          on your smartphone.
        </p>

        <h4 style='margin-top:20px'>Touch to sign-in</h4>
        <p>
          When opening PassHub in your smartphone browser, just tap 
          the "Login with WWPass" button to sign-in with the local WWPass Key app. 
          Alternatively, you may switch to the QR-code screen to login with different mobile WWPass Key.


        <p> <b>NOTE</b>: To use PassHub you need to install <b>WWPass Key</b> app on your smartphone.
        </p>

        <p>
          If you do not have an account yet, the PassHub will send you an email with a verification code. 
          Only users with whitelisted email addresses are allowed to create an account.
        </p>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Get WWPass Key app</h3>
      <div class="help_div well">
        <ul>
          <li>Get "WWPass Key" application on AppStore or Google Play
          </li>
          <li>
            Launch the app and follow instructions to personalize your WWPass Key app.<br>
            <span style="color:red">
              Please write down and remember your WWPass PIN: it cannot be reset</span>
          </li>
          <li>
            We recommend you to follow the  Key backup procedure. It is bound to your email address.
            Please follow the steps to be able to transfer the application to another device 
            if your phone is lost or stolen, or if you upgrade to a new one.
          </li>

        </ul>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Create a new password safe </h3>
      <div class="help_div well">
        <p>
          A password safe is a top-level folder which contains login records, notes, files, and other folders.
        </p>
        <p>
          Click <b>New Password Safe</b> and enter any safe name you like
        </p>
        <img class="help_img_mobile" src= "public/img/help/mobileSafesCp.jpg" 
          loading="lazy"/>
        <img class="help_img_mobile" src= "public/img/help/mobileNewSafeC.jpg" 
          loading="lazy"/>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Create a new login entry, note, file or folder</h3>
      <div class="help_div well">
        <p>
          To add a new record, click the <b>Add</b> button.
        </p>
        <img class='help_img_wide' src= "public/img/help/AddMenuC.png" 
        loading="lazy"/>
        <p>
          When you're on a mobile device, tap the safe name to get 
          to the safe content and click the <b>Add</b> button.
          Select "Login entry" in the drop-down menu.
        </p>
        <img class="help_img_mobile" src= "public/img/help/mobileSafesC2p.jpg" 
          loading="lazy"/>
        <img src= "public/img/help/mobileAddMenuC.jpg" 
          loading="lazy"/>
        <h4 style='margin-top:20px'>New login entry</h4>
        <p>
          Fill the form shown below, where
        </p>
        <ul>
          <li>Title - identifies the account entry. It is the only required field in the form.
          </li>
          <li>Username/password - the credentials of the account. Use the provided random password generator to get a strong
            password. Just click <b>Generate</b>.
          </li>
          <li>URL - network name or IP address of the resource. URLs which start with "http://" "https://" or "www."
            are shown as active web links
          </li>
          <li>Notes - specific notes, instructions, or other messages are safely encrypted and stored with each entry.
          </li>
        </ul>
        <img  class='help_img_wide' src= "public/img/help/AddEntryCp.png" 
        loading="lazy"/>
        <h4 style='margin-top:20px'>
          Google Authenticator (TOTP, Time-based One-Time Password)
        </h4>

        <p>
          You can add a second factor authenticator (rfc6238) to the login entry. 
          The PassHub will generate a six-digit value automatically for you.
          The one-time code generation is based on the shared secret (base32 string),
          which usually can be found close to the QR code on the service provider site, e.g. 
        </p>
          
        <img  class='help_img_wide' src= "public/img/help/totpSecret.png" 
          loading="lazy"/>

        <p>
          In the Login  Entry form click <b>Add Google Authenticator secret</b> 
          to open TOTP input field. Enter the shared secret code.
        </p>
        <img  class='help_img_wide' src= "public/img/help/totpSecretFieldCp.png" 
          loading="lazy"/>

        <p>
          Now the TOTP-code will be shown in the Login view along 
          with time remaining till the code change:
        </p>

        <img  class='help_img_wide' src= "public/img/help/loginViewCp.png" 
        loading="lazy"/>

        <h4 style='margin-top:20px'>New note</h4>
        <p>
          Note is a special type of record to store arbitrary not structured texts. 
          The Note dialog contains only the Title and the Notes fields.
        </p>
        <img  class='help_img_wide' src= "public/img/help/addNoteC.png" 
          loading="lazy"/>
        <h4 style='margin-top:20px'>New file</h4>
        <p>
        You can store files in PassHub too. 
        These may be sensitive documents you share with clients or partners,
        SSL certificates used widely in IT infrastructure and so on. 
        File names and content are encrypted the same way as all other data in PassHub.
        </p>
        <p>
          Click the <b>Browse</b> button to select a file, or, on a desktop, 
          just drag the file into the filename filed.
          Now click the <b>Upload</b> button.
        </p>
        <img  class='help_img_wide' src="public/img/help/addFileC.png" 
        loading="lazy"/>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Copy/move entries to another safe or folder</h3>
      <div class="help_div well">
        <p>
          Open a menu of the desired Entry and select <b>Cut</b> or <b>Copy</b> command
        </p>
        <img  class='help_img_wide'src= "public/img/help/cutMenuC.png" 
        loading="lazy"/>

       <img class="help_img_mobile" src= "public/img/help/mobileCutMenuC.jpg" 
        loading="lazy"/>
        <p>
          Now open a menu of the destination safe or folder, note the <b>Paste</b> command becomes active.
          Select <b>Paste</b> and the entry will be copied or moved to a new location.
        </p>
        <p>
          Please note, <b>Paste</b> command is only active for 30 seconds after you click
           <b>Copy</b> or <b>Cut</b>.
        </p>
        <img class='help_img_wide' src= "public/img/help/pasteMenuC.png" 
        loading="lazy"/>
        <img class="help_img_mobile" src= "public/img/help/mobilePasteMenuC.jpg" 
          loading="lazy"/>
      </div>

      <h3><span class="icon icon--collapse_down"></span>View in-memory files</h3>
      <div class="help_div well">
        <p class="text text--sm">
          Passhub allows you to view sensitive files, while not downloading them to the local disk.
          PDF files can be  displayed on desktop platforms except for Safari browser
          on Macintosh computers.     
          Image files of types PNG, JPEG, BMP, and GIF can be viewed on any platform and browser. 
          Select <b>In-memory View</b> menu item on the desktop or the corresponding button
          on a smartphone. 
        </p>
        <img  class='help_img_wide'src= "public/img/help/desktopViewC.jpg" 
        loading="lazy"/>

        <img class="help_img_mobile" src= "public/img/help/mobileViewJpegC.jpg" 
          loading="lazy"/>
      </div>

      <h3><span class="icon icon--collapse_down"></span>Share my password safe with others</h3>
      <div class="help_div well">
        <p>
        You can share your records by granting other users access to the selected password safe.
        </p>

        <p>
          When you share a safe, the recipient account is identified by the email address. 
          Hence it is only possible to share safes with users who already have PassHub.net account 
          and provided their email. 
        </p>
        <p>
          You may grant one of the three levels of access rights to a recipient:
          <ul>
            <li>read-only: the user may only read the safe data</li>
            <li>editor: the recipient can create, modify or delete safe records</li>
            <li>owner: full access to the safe, the user may share the safe, revoke access, 
              change user roles and even delete the safe</li>
          </ul>
        </p>

        <h4 style='margin-top:20px'>To share a Safe</h4>

        <p>
          Click on the safe name and select the "Share" item in the drop-down menu
        </p>                  
        <img class='help_img_wide' src= "public/img/help/shareSafeMenu.png" 
          loading="lazy"/>

        <p>
          Insert recipient mail and choose access rights. You may also set the safe name as the recipient sees it. 
          Note that the safe name may be different for each user: if Alice shares the safe with Bob, 
          it would be natural to have the safe named 'Bob' or alike. At the same time, Bob may want 
          to call the safe "Alice."  
        </p>   
        <img class='help_img_wide' src= "public/img/help/shareDialogCp.png"
          loading="lazy"/>

        <p>
          Note the icon changes for the shared safe.
          Basically, that is it. Next time the recipient updates the PassHub data, the shared safe will be shown.
        </p> 
      </div>                 

      <h3><span class="icon icon--collapse_down"></span>Backup and restore my records</h3>
      <div class="help_div well">
        <p>
          Export your records in XML or CSV file and import them later.
        </p>

        <h4>Export/Backup</h4>

        <p class="text text--sm">
          Click the <b>Export</b> link under your password safe list. 
          In the provided dialog, choose one of the two file formats - CSV or XML. 
          For backup/restore purposes, they are equally good. 
          However, if you want to have exported data in human-readable form or put them into 
          an Excel table, use CSV.
        </p>
        <div>
          <img class="help_img_mobile" src= "public/img/help/mobileSafesC2export.jpg" 
            loading="lazy"/>
          <img class="help_img_mobile" src= "public/img/help/mobileExportDialogC.jpg" 
            loading="lazy"/>
        </div>
        <h4 style='margin-top:20px'>Compatibility with KeePass</h4>

        There are many KeePass flavors, particularly:

        <ul>
          <li> KeePass 2 for Windows</li>
          <li> Keepass2Android - obviously for Android devices</li>
          <li> KeepassXC - cross-platform application for MAC, Linux, and Windows</li>
        </ul>
        <p>
          Windows and Android versions support an XML format as a primary choice.
          CSV implementation contains errors and is not recommended.
          Cross-platform KeePassXC supports CSV only, and this implementation is correct.
        </p>
        <p>
          SUMMARY: use CSV for KeePassXC and XML for KeePass2/Windows and KeePass2andoird
        </p>

        <h4>Import/Restore</h4>
        <ol>
          <li>Select <b>Import</b> link under the password safe list</li>
          <li>Select mode: Import (puts file data into a newly created single safe) or Restore (merges file data with
            existing safes)</li>
          <li>Select the file you wish to upload</li>
        </ol>
        <div>
          <img class="help_img_mobile" src= "public/img/help/mobileSafesC2import.jpg" 
            loading="lazy"/>
          <img class="help_img_mobile" src= "public/img/help/mobileImportDialogC.jpg" 
            loading="lazy"/>
        </div>
        NOTE: <b>Restore</b> mode preserves all the data you have in PassHub, it can only add new records or additional
        versions of existing records. It never deletes or modifies existing data.
      </div>

      <h3><span class="icon icon--collapse_down"></span>User management</h3>
      <div class="help_div well">
        <p>
          Selected users may be granted PassHub Administrator role. They may access the User Management page
          which shows overall site resources and user activity. 
          PassHub administrator may invite new users, delete expired accounts,
          grant or revoke PassHub Administrator rights.
        </p>
        <p>
          To delete a particular user account, find the user in the table and click a red cross icon.
        </p>
        <p>
            To toggle PassHub Administrator rights, click a green checkbox icon.
          </p>
            <img src="public/img/help/IAM.png" alt="IAM" style="margin:10px; width:90%;">

        <h4 style='margin-top:20px'>Email address white list</h4>
        <p>
          For a user to be able to create an account in PassHub for Business, the user email should be whitelisted.
          This white list includes all addresses in predefined mail domains (e.g., your company domain)
          and a list of individual addresses.
          Passhub Administrator may add or delete individual addresses in the white list
          thus granting or revoking access to PassHub service.      
        </p>
        <img src="public/img/help/WhiteList.png" alt="Passhub for Business email white list" style="margin:10px; width:90%;">
      </div>

      <div style="padding-top:10px;">
        <a href="index.php" style="color:#005abb; text-decoration: underline; font-weight:400; font-size:16px;">Back to
          PassHub main page</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(".help_div").hide();
  $("h3").click(function () {
    var visible = $(this).next(".help_div").is(':visible');
    $(".help_div").hide();
    $("span.icon--collapse_up").removeClass("icon--collapse_up").addClass("icon--collapse_down")
    if (!visible) {
      $(this).next(".help_div").show();
      $(this).find("span").removeClass("icon--collapse_down").addClass("icon--collapse_up");
    }
  });
</script>

{% endblock %}
