{% extends "layout.html" %}

{% block content %}
<style>

td, th {
    padding: 5px 10px;
}
th {
    text-align:center;
}

td {
    text-align: right;
}

table {
    border-collapse: collapse;
    width:100%;
}

table, th, td {
    border: 1px solid black;
}

.iam_table_scroll_control {

   max-height:calc(100vh - 280px);
   overflow-y:visible;
   overflow-x:hidden;
}

.user_status_selector {
  cursor: pointer;
  text-decoration: underline;
}
</style>

<div class="card col-12 col-xl-10 phub-dialog">
  <div class="card-header">
    <h1>User Management
      <button type="button" class="close" 
        aria-label="Close" onclick='window.location.href="index.php";'>
        <svg width='18' height='18' style='stroke:black;'><use xlink:href='public/img/SVG2/sprite.svg#el-x'></use></svg>
      </button>
    </h1>   
  </div>

  <div class="card-body">

    <div class="card">
      <pre id="stats" style="margin:20px; font-size: 16px"></pre>
    </div>

<style>
  #fake_username1, #fake_password1 {
    border:none; 
    width:0;
    padding:0;
  }
</style>

    <div>
      <div style='background:#eee; height:4em;padding:0.5em 1em 0.3em; margin: 1em 0 0 0;'>
        <input type="text" id="fake_username1"><input type="password" id="fake_password1">
        <span id='inviteByMailAlert' style='color:red; outline-style:none;'></span> 
        <span style='float:right;'>
          Authorize
          <input type="email" id="newUserMail" maxlength=254 autocomplete="off" 
          placeholder='Email' style='width:20em;height:2em; margin:0 0.5em'>
          <button type="button" class="btn btn-sm btn-primary " 
          id="SubmitNewUserMail" style="vertical-align: top;">Ok</button>
        </span>
      </div>

      <div class = "iam_table_scroll_control" >
          <table style="width:100%">
              <thead>
                  <tr>
                  <th></th>
                  <th style="min-width: 7em;">Status</th>
                  <th style='width: 40%'>Mail</th>
                  <!--<th>ID</th>-->
                  <th>Safes<br>total</th>
                  <th>Safes<br>shared</th>
                  <th id='th_seen' style='min-width: 14em'>Seen</th>
                  </tr>
              </thead>
              <tbody  id='userTableBody'>
              </tbody>
          </table>
      </div>
    </div>  

  </div>
</div>

<div class="modal" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteUserLabel">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">    
        Mail: <span id="user_mail"></span><br>
        ID: <span id="user_id"></span>
        </p>
        <div class="alert alert-danger" role="alert" id="delete_user_alert" ></div>
        <p id="delete_user_warning"> Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="deleteUserCancelBtn" data-dismiss="modal">Cancel</button>
        <button  type="button" class="btn btn-primary "  id="deleteUserBtn">Delete</button>
      </div>
    </div>
  </div>
</div>

<!--
<style>
  
  .white_list_cancel {
    color:red; 
    border: none; 
    background: none;
  }

  #newUserMail, #newUserMail:focus  {
    flex:1; 
  /*  padding-left: 15px; */
  }

  .white_list_item {
    padding: 10px 0 10px 10px;
  }

  .white_list_item:hover {
    background: #eee;
  }

  .white_list_item > .glyphicon-remove {
    color:red;
    opacity: 0.2; 
    padding: 0 5px;
  }

  .white_list_item:hover > .glyphicon-remove {
    opacity: 1.0;
    cursor: pointer;
  }

</style>


<div class="modal" id="mailWhiteList" tabindex="-1" role="dialog" aria-labelledby="inviteByMailLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mailWhiteListLabel">Mail white list</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="font-size: 16px; padding-left: 30px; padding-right: 30px">
        <div class="form-group" style="display:flex">
          <input type="email" class="form-control" name="newUserMail" maxlength=254
          id="newUserMail" placeholder="New user mail" required >
          <button  type="button" class="btn btn-primary "  id="id_SubmitNewUserMail" style='margin: 0 0 0 10px' >Add</button>
          <button class="white_list_cancel" type="button" >Cancel</button>
        </div>
        <div class="alert alert-danger" role="alert" id="inviteByMailAlert" 
          style="display: none; margin-top: 20px; text-align: left;">
        </div>
        <div id='white_list_ul'>
        </div>
      </div>  
    </div>
  </div>
</div>  


<a id="mailhref"></a>
-->

<div id="csrf" data-csrf='{{ verifier }}' style='display:none'>
</div>

{{include ('modals/idle_and_removal.html')}}

<script src = "public/js/dist/iam.js?v=191212"></script> 

</div>
</div>

{% endblock %}
