<div class="row" id="image_view_page" style="display:none">
    <div class="card phub-dialog col-sm-12 " >
      <div class="card-header">
          <h1><span id='image_view_page_title'>In-memory image view</span>
              <button type="button" class="close image_view_page_close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>    
          </h1>
      </div>
  
      <div class = "card-body">
        <iframe id="viewer" style='width:100%;height:100%'></iframe>
        <img src="" style='display:block; margin: 0 auto; max-height:100%; max-width:100%; object-fit: contain' alt="Image preview" >
      </div>
    </div>
</div>
  