{% extends "layout.html" %}

{% block content %}
<div class="card col-12 col-lg-10 col-xl-8 phub-dialog">
    <div class="card-header" style="margin-bottom: 1em;">
        <h1>{{ title }}
            <button type="button" class="close" aria-label="Close"
            onclick='window.location.href="index.php";'>
            <span aria-hidden="true">&times;</span>
            </button>    
        </h1>
    </div>
    
    <div class = "card-body">
        <div class="alert alert-danger" role="alert" id="alert_message" style="display:none"></div>

        <form class="form-horizontal col-md-10 col-12" style="margin: 0 auto" action="update.php" method="POST" id="entry_form" autocomplete="off">

            <div class="form-group">
                <label class="control-label" for="title">Title*</label>
                <div >
                    <input type="text" class="form-control" id="title" required>
                </div>
            </div>
            <div class="form-group note_hidden">
                <label class="control-label" for="username">Username</label>
                <div>
                    <input type="text" class="form-control" style="font-family: '{{ password_font }}'"
                    id="username" autocapitalize="none" autocorrect="off" spellcheck="false">
                </div>
            </div>

            <div class="form-group note_hidden">
                <label class="control-label" for="password">Password</label>
                <div>
                    <div class="input-group">
                        <input type="password" class="form-control" style="font-family: '{{ password_font }}'"
                            id="password"  maxlength="64" autocomplete="off" autocapitalize="none" 
                            autocorrect="off" spellcheck="false">
                       <div class="input-group-append">
                                <span class="input-group-text" id="show_password" 
                                style="cursor:pointer;">
                                    <svg width='24' height='24' style='stroke:black;opacity:0.5'><use xlink:href='img/SVG2/sprite.svg#i-show'></use></svg>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group note_hidden">
                <label class="control-label" for="confirm_password">Confirm Password</label>
                <div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" style="font-family: '{{ password_font }}'"
                        id="confirm_password"  maxlength="64"
                        autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false">
                        <div class="input-group-append">
                            <span class="input-group-text" id="generate_password_button" 
                            style="cursor:pointer;">Generate</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group note_hidden">
                <label class="control-label" for="url">URL</label>
                <div>
                    <input type="text" class="form-control" id="url" maxlength="{{ MAX_URL_LENGTH }}" autocapitalize="none" autocorrect="off" spellcheck="false">
                </div>
            </div>

            <div class="form-group note">
                <label class="control-label" for="notes">Notes</label>
                <div>
                    <textarea  class="form-control" rows="5" cols="20" id="notes" maxlength="{{ MAX_NOTES_SIZE }}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="entryID" value="{{ entry_id }}">
                <input type="hidden" name="vault" value="{{ vault_id }}">
                <input type="hidden" name="folder" value="{{ folder }}">

                <input type="hidden" name="verifier" value="{{ verifier}}">
                <input type="hidden" id="ios_cancel" name="ios_cancel" value="0">
                <input type="hidden" id="encrypted_data" name="encrypted_data">
                <button type="button" class="btn btn-primary" style="float:right; margin: 5px" id="save_button">Save</button>
                <button type="button" class="btn btn-secondary" style="float:right; margin: 5px" id="cancel_button">Cancel</button>
            </div>
        </form>
    </div>
</div>

{{ include('modals/gen_password.html') }}
{{ include('modals/idle_and_removal.html') }}


<script>
var item_form = {
    encrypted_key_CSE: '{{ encrypted_key_CSE }}',
    privateKey_CSE: '{{ privateKey_CSE }}',
    create: {{ create }},
    note: {{ note }},
    item: JSON.parse('{{ item | raw }}'),
    ticket: '{{ ticket }}',
    maxNoteSize: {{ MAX_NOTES_SIZE }},
};
</script>

<script src="js/dist/item_form.js?v=191212"></script>

{% endblock %}

