{% extends "r-layout.html" %}

{% block content %}

    <div class="row">
        <div class="card col-12 col-lg-10 col-xl-8"
        style="border-radius:16px; 
          max-width:820px; 
          margin: 32px auto 0 auto">
            <div class="card-header" style="background:white;">
                <h1>
                  New User Registration
                </h1>
            </div>
                    
            <div class="card-body">
              {% if alert %}
                <div class="alert alert-danger" role="alert">{{alert}}</div>
              {% endif %}  
                <form action="ldap.php" method="POST">
                  <div class="form-group">
                    <label class = "control-label" for="ldap-username">Username:</label>
                    <input id="ldap-username" class="form-control" type="text" name ="username" autofocus required> 
                  </div>          
                  <div class="form-group">
                    <label class = "control-label" for="ldap-password">Password:</label>
                    <input id="ldap-password" class="form-control" type="password" name ="password" required> 
                  </div>
                  <input type="hidden" name ="verifier" value={{verifier}}> 
                  <button class="btn btn-primary submit" type="submit"  style="float:right; margin-left: 1em">
                    Submit
                  </button>
                  <button class="btn btn-outline-secondary" type="button" onclick='location.href="logout.php"' style="float:right; margin-left: 1em">
                    Cancel
                  </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
