{% extends "r-layout.html" %}

{% block content %}
    <script>
      function clearLdapAlert() {
        const alertElement = document.querySelector("#alert");
        if(alertElement) {
          alertElement.style.display="none";
        }
      }

      function toggle_pwd() {
        const pwd = document.getElementById("ldap-password");
        const eye = document.getElementById("eye");
        const eye_off = document.getElementById("eye-off");
        if (pwd.type === "password") {
          pwd.type = "text";
          eye.style.display = "none";
          eye_off.style.display = "inline";
        } else {
          pwd.type = "password";
          eye.style.display = "inline";
          eye_off.style.display = "none";
        }
      }

    </script>

    <div class="row">
        <div class="card col-12 col-lg-10 col-xl-8"
        style="border-radius:16px; 
          max-width:820px; 
          margin: 32px auto 0 auto">
            <div class="card-header" style="background:white;">
                <h1>
                  New User Registration
                </h1>
            </div>
                    
            <div class="card-body">
              {% if alert %}
                <div id="alert" class="alert alert-danger" role="alert">{{alert}}</div>
              {% endif %}  
                <form action="ldap.php" method="POST">
                  <div class="form-group">
                    <label class = "control-label" for="ldap-username">Username</label>
                    <input id="ldap-username" class="form-control" type="text" name ="username" autofocus required oninput="clearLdapAlert()"> 
                  </div>          
                  <div class="form-group">
                    <label class = "control-label" for="ldap-password">Password</label>
                    <div style="display:flex; align-items: center;">
                      <input id="ldap-password" class="form-control" type="password" name ="password" required oninput="clearLdapAlert()"> 
                      <span onClick="toggle_pwd()" style='margin-left: -37px; cursor: pointer'>
                        <svg id='eye-off' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display:none; fill:grey" >
                          <path fill="currentColor" d="M2,5.27L3.28,4L20,20.72L18.73,22L15.65,18.92C14.5,19.3 13.28,19.5 12,19.5C7,19.5 2.73,16.39 1,12C1.69,10.24 2.79,8.69 4.19,7.46L2,5.27M12,9A3,3 0 0,1 15,12C15,12.35 14.94,12.69 14.83,13L11,9.17C11.31,9.06 11.65,9 12,9M12,4.5C17,4.5 21.27,7.61 23,12C22.18,14.08 20.79,15.88 19,17.19L17.58,15.76C18.94,14.82 20.06,13.54 20.82,12C19.17,8.64 15.76,6.5 12,6.5C10.91,6.5 9.84,6.68 8.84,7L7.3,5.47C8.74,4.85 10.33,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C12.69,17.5 13.37,17.43 14,17.29L11.72,15C10.29,14.85 9.15,13.71 9,12.28L5.6,8.87C4.61,9.72 3.78,10.78 3.18,12Z" />
                        </svg>
                        <svg id='eye' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"  style="display:inline; fill:grey ">
                          <path  d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z" />
                        </svg>
                      </span>
                    </div>
                  </div>
                  <input type="hidden" name ="verifier" value={{verifier}}> 
                  <button class="btn btn-primary submit" type="submit"  style="float:right; margin-left: 1em">
                    Submit
                  </button>
                  <button class="btn btn-outline-secondary" type="button" onclick='location.href="logout.php"' style="float:right; margin-left: 1em">
                    Cancel
                  </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
