{% extends "r-layout.html" %}

{% block content %}

      <div class="row">
        <div class="card col-12 col-lg-10 col-xl-8" 
          style="border-radius:16px; 
          max-width:820px; 
          margin: 32px auto 0 auto">
          <div class="card-header" style="background:white">
            <h3>
              Message to the Site Administrator
            </h3>   
          </div>
          <div class="card-body">

            {% if message is defined  %}  
            <p style="margin-top:32px">{{message | raw}}</p>
            <p>
              Please follow the link <a href="http://manage.wwpass.com" target="_blank">manage.wwpass.com</a> to get a WWPass certificate.
            </p>
            {% endif %}

            {% if wwpass_manage is defined  %}  
            <p>
              Your PassHub Instance is not yet provisioned at WWPass.
            </p>
            <p>
              Please go to <a href="http://manage.wwpass.com" target="_blank">manage.wwpass.com</a> to obtain a subscription to WWPass authentication.
            </p>
            {% endif %}
            
          </div>
        </div>
      </div>

{% endblock %}

