{% extends "layout.html" %}

{% block content %}
<div class="card col-12 col-lg-10 col-xl-8 phub-dialog" style="padding:0; margin:0 auto;">
    <div class="card-header" style="margin-bottom: 1em;">
              
    {% if upgrade %}
        <h1 style="text-align: center;">Upgrading your account for higher security</h1>
    {% else %}
        <h1 style="text-align: center;">Creating your account</h1>
    {% endif %}
    </div>
    <div class="card-body">
            <p>
            It may take up to a minute or so.
            </p>
            <p id="create_userwait"> Please wait</p>
            <p id="seconds_passsed"></p>
            <p id="too_long">This is one-time operation. If it takes too long, open <b>passhub.net</b> in a laptop or desktop browser and scan the QR code with WWPass PassKey app</p>
    </div>
</div>

<script src="public/js/jquery.csv.min.js"></script>

<script>
    var page_args = {
        wwpassTicket: '{{ ticket }}',
        {% if upgrade %}
            upgrade: true,
        {% else  %}
            upgrade: false,
        {% endif %}

        template_safes: {{ template_safes | raw }}
    };
</script>

<script src="public/js/dist/upsert_user.js?v=191212"></script>
{% endblock %}
