<div class="modal" id="newSafe" tabindex="-1" role="dialog" aria-labelledby="newSafeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newSafeLabel">Create new Password Safe</h4>
      </div>

      <div class="modal-body">
       <div class="alert alert-danger" role="alert" id="create_vault_alert"></div>
       <label class="control-label" for="Safename_create">Safe name</label>
       <input type="text" class="form-control" name="newSafeName"  maxlength="<?php echo MAX_SAFENAME_LENGTH; ?>"  id="SafeName_create" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_new_vault_btn">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
