<div class="modal" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="deleteItemLabel">
  <div class="modal-dialog" role="document">
        <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteItemLabel">Delete <p><span style="font-weight:bold" id="title_span"></span></p></h4>
            <p>
            Are you sure?
            </p>
        </div>
        <div class="alert alert-danger" role="alert" id="delete_item_alert"></div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="id_deleteItem_button">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
