<div class="modal" id="generatePassword" tabindex="-1" role="dialog" aria-labelledby="generatePasswordLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generatePasswordLabel">Generate Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="new_password" id="new_password" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="repeat_password">
                        <span class='glyphicon glyphicon-repeat' aria-hidden='true' ></span>
                        </button>
                    </span>
                </div>
                <div style="margin-top:10px"> <span style="margin-right:20px;">Length</span>
                <button class="btn btn-default" type="button" id = "lt">&lt;</button><span id="length" style="margin:0 10px;">16</span>
                <!--
                <input class="form-control" style="display:inline; width:auto" name="length" id="length" type="text" maxlength="2" value="10" size="2"> -->
                <button class="btn btn-default" type="button" id = "gt">&gt;</button></div>


                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="optradio" value="memorable" id="memorable">
                    Memorable</label>
                </div>
                <div class="form-check">
                    <label><input class="form-check-input" type="radio" name="optradio" value="random" checked>Random</label>
                </div>
                <div style="margin-left:20px;">
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" id="uppercase" value="" checked>
                            uppercase</label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" id="lowercase" value="" checked>
                            lowercase</label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" id="digits" value="" checked>
                            digits</label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" id="special_characters" value="">
                            special characters</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="generate_password_done">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- https://github.com/bermi/password-generator -->
<!-- <script src="scripts/password-generator.min.js"></script> -->
<script src="js/password-generator.js"></script>

<script>


$("#lt").click(function(e) {
    var len=$("#length").text();
    if(len > 4 ) {
        len--;
        $("#length").text(len);
    }
    generate_password_doit();
});

$("#gt").click(function(e) {
    var len=$("#length").text();
    if(len <64 ) {
        len++;
        $("#length").text(len);
    }
    generate_password_doit();
});


function generate_password_doit() {

    var len=$("#length").text();
    if (len < 4) {
        len = 4;
    }
    $("#length").val(len);
    var m=$("#memorable").is(':checked');
    let p = generatePassword(len, m);
    if(!m) {
        pattern = "";
        if($("#digits").is(':checked')) {
            if( $("#uppercase").is(':checked') || $("#lowercase").is(':checked')) {
                pattern += "2-9";
            } else {
                pattern += "0-9";
            }
        }
        if($("#special_characters").is(':checked')) {
           pattern += "!-/";
        }
        if($("#lowercase").is(':checked')) {
           pattern += "a-kmp-z";
        }
        if($("#uppercase").is(':checked')) {
           pattern += "A-HJ-MPZ";
        }
        if(pattern == "") {
           pattern = "A-HJ-MPZa-kmp-z";
        }
        pattern = "["+pattern+"]";
        p = generatePassword(len, m, pattern);
        for(let i = 0; i < 100; i++) {
            let redo = false;
            if($("#digits").is(':checked')) {
                if (!p.match(/[0-9]/)) {
                    redo = true;
                } 
            } 
            if($("#uppercase").is(':checked')) {
                if (!p.match(/[A-HJ-MPZ]/)) {
                    redo = true;
                } 
            } 
            if($("#lowercase").is(':checked')) {
                if (!p.match(/[a-kmp-z]/)) {
                    redo = true;
                } 
            } 
            if(!redo) {
                break;
            }
            p = generatePassword(len, m, pattern);
        }
   }
   $("#new_password").val(p);
}

$("#repeat_password").click(function(e) {
    generate_password_doit();
});

$('input[type=radio][name=optradio]').change(function() {
  if($("#memorable").is(':checked')) {
    $("#uppercase").attr("disabled", true);
    $("#lowercase").attr("disabled", true);
    $("#digits").attr("disabled", true);
    $("#special_characters").attr("disabled", true);
  } else {
    $("#uppercase").attr("disabled", false);
    $("#lowercase").attr("disabled", false);
    $("#digits").attr("disabled", false);
    $("#special_characters").attr("disabled", false);
  }
    generate_password_doit();
});


$("#special_characters").click(function(e) {
    generate_password_doit();
});

$("#uppercase").click(function(e) {
    generate_password_doit();
});

$("#lowercase").click(function(e) {
    generate_password_doit();
});

$("#digits").click(function(e) {
    generate_password_doit();
});


$("#generatePassword").on('show.bs.modal', function(e) {
    generate_password_doit();
});

$("#generate_password_done").click(function(e) {
   var return_value= $("#new_password").val();
   $("#generatePassword").modal('hide');
   $("#confirm_password").val(return_value);
   $("#password").val(return_value);

});


</script>
