<div class="modal" id="renameFile" tabindex="-1" role="dialog" aria-labelledby="renameFileLabel">
  <div class="modal-dialog" role="document">
        <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="renameFileLabel">Rename File</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert" id="rename_file_alert"></div>

                <div class="form-group">
                    <label class="control-label" for="FileName_rename">New name</label>
                    <input type="text"  class="form-control" name="newFileName" maxlength="<?php echo MAX_FILENAME_LENGTH; ?>"
                    id="FileName_rename" required >
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button  type="button" class="btn btn-primary "  id="id_FileRename_button" >Rename</button>
        </div>
    </div>
  </div>
</div>
