<div class="modal" id="safeUsers" tabindex="-1" role="dialog" aria-labelledby="safeUsersLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="safeUsersLabel"><b><span></span></b> safe users</h4>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="safe_users_alert">
                </div>
                <div class="well">
                    <ul class="nav" id="UserList" style="max-height:300px; overflow-y:auto;">
                    </ul>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
