$gradient_from: #65D9FF;
$gradient_to: #1B8DFE;

$safe_background: #3399FF;
$safe_hover_background: rgba(255, 255, 255, 0.1);
$safe_active_background: rgba(255, 255, 255, 0.2);
$safe-active-border: #73adf0;

$btn_vault_background: #3399FF;
$btn_vault_border: #fff;
$btn_vault_color: #fff;

$btn_vault_hover_background: #FFF;
$btn_vault_hover_border: #FFF;
$btn_vault_hover_color: #0070FF;

$btn_vault_active_background: #3399FF /*#dae6f2*/;
$btn_vault_active_border: #FFF;
$btn_vault_active_color:#FFF /*#2277e6*/;

$table_pane_background: #D9EFFF;
$table_pane_nav_background: #3399FF;
$item_color: #333333;
$item_background: #D9EFFF;
$item_hover_background: rgba(0, 112, 255, 0.1);
$item_active_background: rgba(0, 112, 255, 0.2);

$item_icon_stroke: #2277e6;

$btn_primary_background: #00b34a;
$btn_primary_border: #00b34a;
$btn_primary_active_background: #009940;

$btn_secondary_background: #fff;
$btn_secondary_border: #0070ff;
$btn_secondary_color: #0070ff;

$btn_secondary_hover_background: #0070ff;
$btn_secondary_hover_border: #0070ff;
$btn_secondary_hover_color: #fff;

$btn_secondary_active_background: #0070ff;
$btn_secondary_active_border: #0070ff;
$btn_secondary_active_color: #fff;

$item_pane_nav_background: #dae6f2;

.container:before {
  background-image: linear-gradient(to right, $gradient_from, $gradient_to);
  z-index: -1;
  height: 142px;

  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  padding: 0 25px;
  height: 42px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

@import 'common.scss';
